h1{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 238, 238, 0.205);
    font-family:'Times New Roman';
}

h2{
   color:rgb(41, 0, 0);
    border-color: brown; border-width: 10%; border-style: solid;
}
h3{
    color:rgb(0, 0, 0);
    font-size: medium;   font-family:Georgia, 'Times New Roman', Times, serif
}

ul{
    color:rgb(121, 6, 6);
    font-size: medium; font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    border-radius: 20%;
}

.imagem-tela-cheia {

    width: 100vw;
    height: 15vh;
    object-fit:scale-down;

}




